<div class="container">
  <div class="row">
    <div class="col-md-3">
      <img class = "profile-picture" src="<%= @user_dashboard.profile_picture %>" alt="user_profile_picture">
    </div>
    <div class="col-md-9">
      <ul class = "nav nav-fill">
        <li class = "nav-item">
          Overview
        </li>
        <li class = "nav-item">
          <%= "Starred (#{@user_dashboard.num_starred_repos})" %>
        </li>
        <li class = "nav-item">
          <%= "Followers (#{@user_dashboard.num_followers})" %>
        </li>
        <li class = "nav-item">
          <%= "Following (#{@user_dashboard.num_following})" %>
        </li>
      </ul>
</div>


</div>
  Recent Activity:
  <br>
    <% @user_dashboard.recent_activity.each do |activity| %>
  <br>
  <li><%= activity  %></li>
  <% end %>

</div>
