<div class="container">
  <div class="row">
    <div class="col-md-3">
      <img class = "profile-picture" src="<%= @user_profile.profile_picture %>" alt="user_profile_picture">
      <h5>Organizations</h5>
      <% @user_profile.organizations.each do |org| %>
      <h4><span class="badge badge-light organization"><%= org.name %></span></h5> <br>
      <% end %>
    </div>
    <div class="col-md-9">
      <ul class = "nav nav-fill">
        <li class = "nav-item">
          Overview
        </li>
        <li class = "nav-item">
          <%= link_to "Repositories", repositories_path %>
        </li>
        <li class = "nav-item">
          <%= "Starred (#{@user_profile.num_starred_repos})" %>
        </li>
        <li class = "nav-item">
          <%= "Followers (#{@user_profile.num_followers})" %>
        </li>
        <li class = "nav-item">
          <%= link_to "Following (#{@user_profile.num_following})", following_path %>
        </li>
      </ul>
</div>


</div>
  <h4 class = "text-center">Recent Activity</h4>
  <br>
    <% @user_profile.recent_activity.each do |activity| %>
  <br><br>
  <span class="badge badge-primary commit-repo"> <%= activity[:repo] %></span>
  <label class = "commit-message"><%= activity[:message] %></label>
  <% end %>

</div>
