<div class="container">
  <div class="row">
    <div class="col-md-3">
      <img class = "profile-picture" src="<%= @user_profile.profile_picture %>" alt="user_profile_picture">
    </div>
    <div class="col-md-9">
      <ul class = "nav nav-fill">
        <li class = "nav-item">
          Overview
        </li>
        <li class = "nav-item">
          <%= link_to "Repositories", repositories_path %>
        </li>
        <li class = "nav-item">
          <%= "Starred (#{@user_profile.num_starred_repos})" %>
        </li>
        <li class = "nav-item">
          <%= "Followers (#{@user_profile.num_followers})" %>
        </li>
        <li class = "nav-item">
          <%= "Following (#{@user_profile.num_following})" %>
        </li>
      </ul>
</div>


</div>
  Recent Activity:
  <br>
    <% @user_profile.recent_activity.each do |activity| %>
  <br><br>
  <%= "'#{activity[:message]}' committed to #{activity[:repo]}"  %>
  <% end %>

</div>
